data/*
!data/.gitkeep
chroma*/
**/__pycache__/
.env
.DS_Store
api/
build/
MANIFEST.in
src/raglight.egg-info/
systemPrompt.txt
dist/
build/
defaultDb/
.mypy_cache/
.pytest_cache/
test.py
qdrant_storage/
*.ipynb
new_version.sh
.envrc

# --- Standard Python ignores ---
*.py[cod]
*$py.class
__pypackages__/

# C extensions
*.so

# Virtual environments
.venv/
venv/
env/
ENV/
env.bak/
venv.bak/

# Installer logs
debug.log
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/

# Jupyter Notebook
.ipynb_checkpoints

# IPython
profile_default/
ipython_config.py

# pyenv
.python-version

# pipenv
Pipfile.lock

# poetry
poetry.lock

# Celery stuff
celerybeat-schedule
celerybeat.pid

# SageMath parsed files
*.sage.py

# Spyder project settings
.spyderproject
.spyproject

# Rope project settings
.ropeproject

# mkdocs documentation
/site

# mypy
.mypy_cache/
.dmypy.json

# Pyre type checker
.pyre/

# pytype static type analyzer
.pytype/

# Cython debug symbols
cython_debug/

# VS Code settings
.vscode/

# PyCharm/IntelliJ settings
.idea/

# System files
Thumbs.db
